name: test
on:
  push:
    paths-ignore:
      - docs/**
    branches:
      - main
  pull_request:
    paths-ignore:
      - docs/**
    branches:
      - main
  workflow_dispatch:
    
jobs:
  validate:
    runs-on: 
      - nscloud-ubuntu-22.04-amd64-4x16-with-cache
      - nscloud-cache-size-10gb
      - nscloud-cache-tag-acron-runtime
      - nscloud-exp-runner-tool-cache-10gb
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v4
        with:
          cache: false
          go-version: "1.21"
      - name: Setup Golang caches
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
      - run: make validate-code
      - run: make build
  unit:
    runs-on: 
      - nscloud-ubuntu-22.04-amd64-4x16-with-cache
      - nscloud-cache-size-10gb
      - nscloud-cache-tag-acron-runtime
      - nscloud-exp-runner-tool-cache-10gb
    needs: validate
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v4
        with:
          cache: false
          go-version: "1.21"
      - name: Setup Golang caches
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
      - name: Run unit tests
        id: unit-test
        run: TEST_FLAGS="--junitfile unit-test-summary.xml" make unit
      - name: Build test summary
        uses: test-summary/action@v2
        if: "!cancelled() && steps.unit-test.conclusion != 'skipped'"
        with:
          paths: unit-test-summary.xml
  integration:
    runs-on: 
      - nscloud-ubuntu-22.04-amd64-4x16-with-cache
      - nscloud-cache-size-10gb
      - nscloud-cache-tag-acron-runtime
      - nscloud-exp-runner-tool-cache-10gb
    needs: validate
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v4
        with:
          cache: false
          go-version: "1.21"
      - name: Setup Golang caches
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
      - uses: azure/setup-kubectl@v3
      - uses: debianmaster/actions-k3s@v1.0.5
        with:
          version: 'v1.26.9-k3s1'
      - run: make build
      - run: docker buildx install
      - run: make setup-ci-image
      - run: ./bin/acorn install --image acorn:v-ci --skip-checks --acorn-dns=disabled --network-policies=true
      - name: Run integration tests
        id: integration-tests
        run: TEST_ACORN_CONTROLLER=external TEST_FLAGS="--junitfile integration-test-summary.xml" make integration
      - name: Build test summary
        uses: test-summary/action@v2
        if: "!cancelled() && steps.integration-tests.conclusion != 'skipped'"
        with:
          paths: integration-test-summary.xml
      - name: Breakpoint on failure
        if: failure()
        uses: namespacelabs/breakpoint-action@v0
        with:
          duration: 15m
          authorized-users: edganiukov,hugosantos,n-g,htr,nichtverstehen,gmichelo
